*{
 padding: 10px;
 justify-content: center;

}
.item-container{
  background-color:lightblue;
}
.tour  {
  text-decoration: underline;
  color: violet;
  text-align: center;
}
.tour-image img{
  
}
.my-image img{
  position: relative;
  text-align: center;
  height: 350px;
  width: 500px;
  left: 350px;


}
.item-container{
 
  align-items: center;
 
  justify-content: center;
 
}
.price{
margin-left: 1050px;
background-color: white;
color: blue;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
border-radius: 10px;
}
.button{
  border: none;
  background-color: transparent;

}
.not-interested{
  display: inline;
  background-color: violet;
  margin-left: 500px;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  border: none;
}
.info{
  position: relative;
 justify-content: center;
 width: 500px;
 height: 200px;
 left: 350px;
}
.clear-button{
background-color:rgb(89, 89, 233);
border: none;
border-radius: 7px;
}